*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    overflow: hidden;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 200px;
    background-color: rgb(255, 255, 255);
    height: 450px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px;
    color: rgb(87, 84, 84);

}
.king-img{
    height: 127px;
    width: 187px;
    margin-left: -29px;
}
.king-img1{
    margin: auto;
    margin-top: 40px;
    border-radius: 60%;
    height: 130px;
    border: 2px solid gray;
    width: 130px;
    overflow: hidden;
}
.king-img1:hover{
    border: 2px dotted rgb(149, 110, 204);
}
.content h1{
    margin-top: 20px;
    
}
.content p{
    margin-top: 20px;
    
}
.content hr{
    width: 140px;
    margin: auto;
    color: rgb(0, 0, 0);
}
.icons{
    height: 70px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(172, 166, 166),rgb(255, 255, 255));
    margin-top: 40px;
}
.icon2{
    width: 100px;
    height: 100px;
    margin-top: -15px;
}
.icon1{
height: 60px;
margin-top: -15px;
}
.icon3{
    width: 70px;
    height: 70px;
    margin-top: -15px;
}
